<div class="container">
  <div class="row">
    <h1 class="mx-auto py-3 pb-5">
        Welcome to
        <i class="fas fa-book"></i>
        <strong>Bookers</strong>
        !
    </h1>
  </div>
</div>